button {
  background-color: var(--green);
  padding: 0.8rem 2rem;
  border: none;
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  color: var(--dark-navy);
  font-size: var(--fs--1);
}

.btn--navy {
  background-color: var(--navy);
  color: var(--green);
}
