.btn-menu {
  height: 20px;
  width: 35px;
  padding: 0;
  cursor: pointer;
}

.container-tired {
  position: relative;
  height: 100%;
}

.container-tired__tired {
  height: 5px;
  background-color: var(--navy);
  transition: var(--transition);
}

.container-tired--top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.container-tired--bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.container-tired.active {
  animation: rotate 200ms ease-in-out;
}

.container-tired.active .container-tired--bottom {
  transform: rotateZ(-45deg) translateY(50%);
  bottom: 50%;
}

.container-tired.active .container-tired--top {
  transform: rotateZ(45deg) translateY(-50%);
  top: 50%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(720deg);
  }
}
