---
import HeaderMain from "@layouts/HeaderMain.astro";
import Layout from "../layouts/Layout.astro";

import Card from "@components/Card.astro";
import FooterMain from "@layouts/FooterMain.astro";
import Link from "@components/Link.astro";
---

<Layout title="Welcome to my FreecCodeCamp summary">
  <HeaderMain />
  <main>
    <div class="container">
      <section id="about" class="about-section">
        <h2>About</h2>
        <p style="color: #00ffff; font-size: 2rem">
          Merci de patienter, je recherche actuellement mon identité, j'ai
          besoin de mettre de l'ordre, pour rester cohérent | Salle d'attente.
        </p>

        <p>
          So I remember when I started coding, I always wondered how to become a
          developer. So I made the mistake of giving up computer development.
        </p>

        <p>
          This project aims to cover the path of the developer, every year
          articles and videos are made on the subject, I decided to go further
          in the process, following the steps that are often recommended, so I
          will do it for you.
        </p>

        <p>
          Generally I come across <a
            target="_blank"
            href="https://www.freecodecamp.org/news/freecodecamp-certifications/"
            >FreeCodeCamp</a
          > resources, on the networks we see people saying they got a job after
          this certification so we'll go through it together through articles and
          this side site which will recap <a
            target="_blank"
            href="https://www.freecodecamp.org/news/freecodecamp-certifications/"
            >FreeCodeCamp</a
          > projects but also interviews of developers on the subject and recommendations.
        </p>

        <p>
          This project for me is also an opportunity to promote my content and
          to take the next step personally.
        </p>
      </section>
    </div>

    <section id="certificats" class="certificats-section">
      <div class="container">
        <h2>Certificats</h2>

        <div class="grid">
          <div>
            <Card
              title="Responsive Web Design"
              src="/src/assets/img/responsive-category.svg"
            >
              <p>
                In this Responsive Web Design Certification, you'll learn the
                languages that developers use to build webpages: HTML (Hypertext
                Markup Language) for content, and CSS (Cascading Style Sheets)
                for design.
              </p>

              <p>
                First, you'll build a cat photo app to learn the basics of HTML
                and CSS. Later, you'll learn modern techniques like CSS
                variables by building a penguin, and best practices for
                accessibility by building a quiz site.
              </p>
            </Card>
          </div>

          <div>
            <Card
              title="Front End Developer"
              src="/src/assets/img/frontend-category.svg"
            >
              <p>
                Now that you're familiar with HTML, CSS, and JavaScript, level
                up your skills by learning some of the most popular front end
                libraries in the industry.
              </p>

              <p>
                Later, you'll build a shopping cart and other applications to
                learn how to create powerful Single Page Applications (SPAs)
                with React and Redux.
              </p>
            </Card>
          </div>

          <div>
            <Card
              title="Back End Development and APIs"
              src="/src/assets/img/backend-category.svg"
            >
              <p>
                Until this point, you've only used JavaScript on the front end
                to add interactivity to a page, solve algorithm challenges, or
                build an SPA. But JavaScript can also be used on the back end,
                or server, to build entire web applications.
              </p>

              <p>
                Today, one of the popular ways to build applications is through
                microservices, which are small, modular applications that work
                together to form a larger whole.
              </p>

              <p>
                Today, one of the popular ways to build applications is through
                microservices, which are small, modular applications that work
                together to form a larger whole.
              </p>
            </Card>
          </div>

          <div>
            <Card
              title="JavaScript Algorithms and Data Structures"
              src="/src/assets/img/algorithms-category.svg"
            >
              <p>
                Certification, you'll learn the fundamentals of JavaScript
                including variables, arrays, objects, loops, and functions.
              </p>

              <p>
                Once you have the fundamentals down, you'll apply that knowledge
                by creating algorithms to manipulate strings, factorialize
                numbers, and even calculate the orbit of the International Space
                Station.
              </p>

              <p>
                Along the way, you'll also learn two important programming
                styles or paradigms: Object Oriented Programming (OOP) and
                Functional Programming (FP).
              </p>
            </Card>
          </div>
        </div>
      </div>
    </section>

    <div class="container">
      <section id="projects" class="projects-section">
        <h2>Projects</h2>

        <div class="grid">
          <Link>
            <Card
              title="Projects | JavaScript Algorithms and Data Structures"
              src="/src/assets/img/algorithms-category.svg"
              className="no-body"
            />
          </Link>

          <Link src={"/projects/responsive-web-design/"}>
            <Card
              title="Projects | Responsive Web Design"
              src="/src/assets/img/responsive-category.svg"
              className="no-body"
            />
          </Link>

          <Link>
            <Card
              title="Projects | Front End Developer"
              src="/src/assets/img/frontend-category.svg"
              className="no-body"
            />
          </Link>

          <Link>
            <Card
              title="Projects | Back End Development and APIs"
              src="/src/assets/img/backend-category.svg"
              className="no-body"
            />
          </Link>
        </div>
      </section>
    </div>
  </main>
  <FooterMain />
</Layout>

<style>
  #certificats {
    background-color: var(--navy);
  }
</style>
