---
import Header from "@layouts/Header.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Responsive Web Design">
  <Header><div class="container">Hello</div></Header>
</Layout>
