<main id="main-doc">
  <header class="main-section"></header>
  <section class="main-section"></section>
  <section class="main-section"></section>
  <section class="main-section"></section>
  <section class="main-section"></section>
</main>
