---
---

<footer class="footer-main" aria-label="Footer main">
  <section class="contacts flex-row-wrap">
    <a href="">Blog</a>
    <a href="">Twitter</a>
    <a href="">DevTo</a>
  </section>
</footer>

<style>
  footer {
    padding: 2rem;
    background-color: var(--dark-navy);
  }

  .contacts {
    gap: 1rem;
  }
</style>
