---
---

<footer id="footer-main" class="footer-main" aria-label="Footer main">
  <section class="contacts flex-row-wrap">
    <a href="">Blog</a>
    <a href="">Twitter</a>
    <a href="">DevTo</a>
  </section>

  <div class="by-sairussdev">Made with love by SairussDev ❤️</div>
</footer>

<style>
  footer {
    padding: 2rem;
    background-color: var(--dark-navy);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-around;
  }

  .contacts {
    gap: 1rem;
  }
</style>
