---
import ShapeMastHead from "@components/ShapeMastHead.astro";
import NavigationMain from "./NavigationMain.astro";

type Props = {
  className?: string;
};

const { className } = Astro.props;
---

<header class="header-main" aria-label="Header main">
  <ShapeMastHead />
  <NavigationMain />

  <section class={`hero-section ${className ? className : ""}`}>
    <slot />
  </section>
</header>

<style>
  .hero-section {
    padding-top: 12rem;
    padding-bottom: 7rem;
    background-color: var(--navy);
  }

  .hero-section p {
    font-size: var(--fs-1);
    color: red;
  }
</style>
