---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,300&family=Rowdies:wght@700&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --cyan: #00ffff;
    --green-tint: rgba(100, 255, 218, 0.2);
    --green: rgb(69, 245, 204);
    --dark-green: rgb(39, 184, 150);
    --blue: #1398d6;
    --ff-heading: "Rowdies", -apple-system, system-ui, sans-serif;
    --ff-body: "Roboto", monospace;
    --fs--2: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.8rem);
    --fs--1: clamp(0.94rem, calc(0.92rem + 0.11vw), 1rem);
    --fs-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --fs-1: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
    --fs-2: clamp(1.62rem, calc(1.5rem + 0.58vw), 1.95rem);
    --fs-3: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
    --fs-4: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
    --fs-5: clamp(2.8rem, calc(2.45rem + 1.77vw), 3.82rem);
    --fw-light: 400;
    --fw-medium: 500;
    --fw-bold: 800;
    --border-radius: 4px;
    --border-radius-medium: 7px;
    --border-radius-lg: 12px;
    --card-min-width: 290px;

    --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    --left-after-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background-color: var(--navy);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--cyan);
    border-radius: var(--border-radius);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue);
  }

  body {
    padding: 0;
    margin: 0;
    background-color: var(--lightest-navy);
    font-family: var(--ff-body);
    font-size: var(--fs-0);
    color: var(--white);
  }

  *,
  *::after,
  *::before {
    box-sizing: border-box;
    transition: var(--transition);
    transition-duration: 100ms;
    scroll-behavior: smooth;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--ff-heading);
    margin-bottom: 4rem;
  }

  h1 {
    font-size: var(--fs-4);
  }

  h2 {
    font-size: var(--fs-3);
  }

  img {
    display: block;
    max-width: 100%;
  }

  a {
    text-decoration: none;
    color: var(--cyan);
    text-decoration: underline;
  }

  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  section {
    padding-top: calc(2rem + 4vmin);
    padding-bottom: calc(5rem + 4vmin);
  }

  #logo-main {
    min-height: 35px;
    min-width: 35px;
    max-height: 45px;
    max-width: 45px;
    position: relative;
    z-index: 10000;
  }

  /**
  *Class utility
   */
  .conatainer-absolute-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .flex-row-wrap {
    display: flex;
    flex-flow: row wrap;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
  }

  .flex-row-reverse {
    flex-direction: row-reverse !important;
  }

  .pl-1 {
    padding-left: 1.5rem;
  }

  .pw-75 {
    max-width: 75ch;
  }

  .container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 calc(0.5rem + 2vmin);
  }

  .half {
    display: flex;
    flex-flow: row wrap;
    gap: 2.5rem;
  }

  .half__item {
    flex: 1 1 420px;
  }

  .grid {
    display: grid;
    gap: 1.2rem;
    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--card-min-width), 1fr)
    );
    grid-auto-rows: 1fr;
  }

  .grid a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .grid .card {
    margin-left: auto;
    margin-right: auto;
  }

  .background-style {
    background-color: var(--green);
    border-radius: var(--border-radius-lg);
    padding: 2rem;
  }

  .background-style > * {
    position: relative;
    bottom: 4rem;
  }

  /**
  *Class animations
   */

  .overlay-left {
    position: relative;
  }

  .overlay-left--green.overlay-left::before,
  .overlay-left--green.overlay-left::after {
    background-color: var(--green);
    border-radius: var(--border-radius-lg);
  }

  .overlay-left::before,
  .overlay-left::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--navy);
  }

  .anim-overlay-left::before {
    animation: slide-left 1.2s var(--left-after-cubic) forwards;
  }

  .anim-overlay-left::after {
    animation: slide-left-cover 1.2s var(--left-after-cubic) forwards;
  }

  .slide-up {
    bottom: 0;
  }
  .anim-slide-up {
    bottom: 0;
    animation: slide-up 550ms var(--easing) 800ms forwards;
  }

  /**
  * Globals  special
   */

  #text-anim-rotate {
    text-transform: uppercase;
    font-size: var(--fs-1);
    transform-origin: 0 140px;
    animation: rotateInfinity 6s linear 770ms infinite;
  }

  #text-anim-rotate span {
    transform-origin: 0 140px;
    position: absolute;
  }

  /**
  *@Keyframes rulers
   */

  @keyframes slide-left {
    0% {
      left: 0;
      width: 0;
    }
    50% {
      left: 0%;
      width: 100%;
    }
    100% {
      left: 100%;
      width: 0;
    }
  }

  @keyframes slide-left-cover {
    0% {
      left: 0%;
      width: 100%;
    }
    50% {
      left: 0%;
      width: 100%;
    }
    100% {
      left: 100%;
      width: 0;
    }
  }

  @keyframes slide-down-boing {
    0% {
      top: 0%;
      height: 120%;
    }
    50% {
      top: 0%;
      height: 25%;
    }
    75% {
      top: 0%;
      height: 50%;
    }
    100% {
      top: 0%;
      height: 0%;
    }
  }

  @keyframes rotateInfinity {
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes slide-up {
    from {
      bottom: 0;
    }
    to {
      bottom: 4rem;
    }
  }
</style>
