---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,300&family=Rowdies:wght@700&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  body {
    padding: 0;
    margin: 0;
  }

  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  ul {
    list-style: none;
  }

  :root {
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100, 255, 218, 0.1);
    --blue: #57cbff;
    --font-heading: "Rowdies", -apple-system, system-ui, sans-serif;
    --font-body: "Roboto", monospace;
    --fs--2: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.8rem);
    --fs--1: clamp(0.94rem, calc(0.92rem + 0.11vw), 1rem);
    --fs-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --fs-1: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
    --fs-2: clamp(1.62rem, calc(1.5rem + 0.58vw), 1.95rem);
    --fs-3: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
    --fs-4: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
    --fs-5: clamp(2.8rem, calc(2.45rem + 1.77vw), 3.82rem);
    --border-radius: 4px;
    --nav-height: 100px;
    --nav-scroll-height: 70px;
    --tab-height: 42px;
    --tab-width: 120px;
    --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    --hamburger-width: 30px;
    --ham-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
    --ham-before-active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
    --ham-after: bottom 0.1s ease-in 0.25s,
      transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    --ham-after-active: bottom 0.1s ease-out,
      transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  }

  ::-webkit-scrollbar {
    width: 12px;
    border-radius: var(--border-radius);
  }

  ::-webkit-scrollbar-track {
    background-color: var(--green);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--dark-slate);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark-navy);
  }
</style>
