---
import { ButtonMenu } from "@components/react/Buttons/ButtonMenu";
import LogoMain from "@components/react/Buttons/LogoMain";
---

<nav class="nav-main flex-row">
  <div id="logo">
    <a href="/" style="text-decoration: none;color: var(--navy)">
      <LogoMain />
    </a>
  </div>

  <div class="nav-main__right">
    <ul class="nav-main__list">
      <li><a href="/#about">A propos</a></li>
      <li><a href="/#certificats">Certificats</a></li>
      <li><a href="/#projects">Projets</a></li>
    </ul>

    <div class="nav-main__button-menu">
      <ButtonMenu client:load selector={"nav-main__list"} />
    </div>
  </div>
</nav>

<style>
  .nav-main {
    position: absolute;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: var(--navy);
    padding: 1.5rem;
    font-weight: var(--fw-bold);
    font-family: var(--ff-heading);
    z-index: 100;
  }

  .nav-main__list {
    position: absolute;
    right: 2rem;
    left: 2rem;
    top: calc(100% - 0.2rem);
    visibility: hidden;
    max-height: 0;
    background-color: var(--green-tint);
    border-radius: var(--border-radius);
    transition: all 700ms var(--easing);
    overflow: hidden;
  }

  .nav-main__list.active {
    max-height: 200px;
    visibility: visible;
  }

  .nav-main__list a {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 1rem 1.5rem;
    color: var(--dark-navy);
    text-decoration: none;
    font-size: var(--fs-0);
    opacity: 0;
    transition: opacity 200ms var(--easing);
  }

  .nav-main__list.active a {
    opacity: 1;
    transition-delay: 150ms;
  }

  .nav-main__list a:is(:hover, :focus) {
    background-color: var(--dark-green);
    color: var(--white);
  }

  .nav-main__right {
    display: flex;
    align-items: center;
    gap: 2.5rem;
  }

  .nav-main__button-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    .nav-main {
      position: relative;
      color: var(--navy);
      align-items: center;
      justify-content: space-between;
      align-items: center;
    }

    .nav-main__list {
      position: static;
      display: flex;
      gap: 1.5rem;
      background-color: transparent;
      visibility: visible;
      max-height: none;
    }

    .nav-main a {
      color: var(--navy);
      opacity: 1;
    }

    .nav-main__button-menu {
      display: none;
    }
  }
</style>
